.heart-page {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  color: white;
  padding-bottom: 80px; /* espacio para el footer */
}

/* Fondo borroso */
.heart-page::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/background/backgroundHome.jpeg");
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: 0;
}

/* Capa oscura */
.heart-page::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

/* Título */
.heart-title-content h1{
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: 2.2rem;
  padding: 2rem 1rem 1rem;
  margin-bottom: 1%;
  color: var(--color-title);
}

/* Contenido principal */

.heart-content {
  position: relative;
  z-index: 2;
  padding: 0;
  /* padding-left: 0 !important; */
}

.heart-content h5 {
  font-weight: 700;
  
}


/* Botones */
.heart-buttons {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-left: 0 !important;
}

.heart-buttons button {
  width: 50%;
  background: linear-gradient(to right, #3498db, #2980b9);
  border: none;
  color: white;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  border-radius: 0 2rem 2rem 0;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: left;
}

.heart-buttons button:hover {
  transform: scale(1.05);
  background: linear-gradient(to right, #5dade2, #2e86c1);
  width: 60%;
}

/* Imagen / GIF */
.heart-image img {
  max-width: 320px;
  width: 100%;
  height: auto;
  border-radius: 1rem;
  object-fit: contain;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}
