.container-modelo {
}

.container-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
<<<<<<< HEAD
}

.container-info p {
    padding: 10px 20px;
=======
>>>>>>> ee9eef486cb40321ca48efeaf1c42da11f32dbc5
}