:root {
  --color-primary: #b7d3e3;
  --color-secondary: #a4c8e1;
  --color-tertiary: #8fb8d8;
  --color-quaternary: #6fa3d8;
  --color-quinary: #4a8bbe;
  --color-neutral: whitesmoke;
  --color-textual: black;
  --color-normal: #333;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  user-select: none;
  overflow-x: hidden;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--color-tertiary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-textual);
}

span,
ul,
p {
  color: var(--color-textual);
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

a,
li {
  color: var(--color-textual);
  list-style-type: "-  ";
}

a {
  text-decoration: none;
}

.container {
  /* Crea un contenedor en el centro para el texto */
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
}

.container h1 {
  color: var(--color-textual);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.container h2 {
  color: var(--color-textual);
  font-size: 1.4rem;
  margin-top: 1.5rem;
}
